<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successful!</title>
    <style>
       body {
            background-color: #ffe6f2;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .message {
            background-color: #ffcce6;
            border: 2px solid #ff99cc;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .message p {
            color: #cc0066;
            font-size: 18px;
            margin: 10px 0;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 15px;
            background-color: #ff66b2;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #ff3399;
        }
    </style>
</head>
<body>
    <div class="message">
        <p>Welcome to Stock Tracker..!</p>
        <p>Please Login to get the desired stock information</p>
        <a href="signin">LOGIN</a>
    </div>
</body>
</html>